@keyframes smoothBg {
    from {
        background-position: 50% 50%, 50% 50%;
    }

    to {
        background-position: 350% 50%, 350% 50%;
    }
}

.hero {
    --stripe-color: #fff;
    --bg: var(--stripe-color);
    --maincolor: var(--bg);
    width: 100%;
    height: 100%;
    position: absolute;
    --stripes: repeating-linear-gradient(100deg,
            var(--stripe-color) 0%,
            var(--stripe-color) 7%,
            transparent 10%,
            transparent 12%,
            var(--stripe-color) 16%);

    --rainbow: repeating-linear-gradient(100deg,
            #60a5fa 10%,
            #e879f9 15%,
            #60a5fa 20%,
            #5eead4 25%,
            #60a5fa 30%);
    background-image: var(--stripes), var(--rainbow);
    background-size: 300%, 200%;
    background-position: 50% 50%, 50% 50%;

    filter: blur(10px) invert(100%);

    mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-image: var(--stripes), var(--rainbow);
        background-size: 200%, 100%;
        animation: smoothBg 60s linear infinite;
        background-attachment: fixed;
        mix-blend-mode: difference;
    }
}

.hero:has(.darkMode) {
    --stripe-color: #000;
}

.hero:has(.checked),
.hero:has(.checked)::after {
    filter: blur(10px) opacity(50%) saturate(200%);
}